<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat-Da-Burger! Created by Patrick Wang</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="/static/assets/css/reset.css">
	<link rel="stylesheet" href="/static/assets/css/burger_style.css">
	<script src="/static/assets/js/burger.js"></script> {{!-- Default Folder Path set to Public --}}
</head>

<body>
	{{{ body }}}
</body>

</html>