<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat-Da-Burger! Created by Patrick Wang</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="/static/assets/css/burger_style.css"> 
	{{!-- Default Folder Path set to Public --}}
</head>

<body>
	{{{ body }}}
</body>

</html>