<img class="img" src="/static/assets/img/burger-img.png"></img>
<div class="justified">
    <form class="create-form">
        <div class="form-group">
            <textarea rows="4" cols="50" name="addBurger" placeholder="Comment text."></textarea>
        </div>
        <div class="buttonDiv">
            <button type="submit">Add Burger</button>
        </div>
    </form>
</div>